@model IMTestProject.Common.Dto.TableConfiguration.EditTableConfigurationDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Edit Table Configuration </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"> Display Name</label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ControlType" class="control-label"> Control Type</label>
                <select asp-for="ControlType" asp-items="Html.GetEnumSelectList<IMTestProject.Common.Enum.ControlTypeEnum>()">
                    <option selected="selected" value="">Please select</option>
</select>
                <span asp-validation-for="ControlType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataType" class="control-label"> Data Type</label>
                @*<input asp-for="DataType" class="form-control" />*@
                <select asp-for="DataType" asp-items="Html.GetEnumSelectList<IMTestProject.Common.Enum.DataTypeEnum>()">
                    <option selected="selected" value="">Please select</option>
</select>
                <span asp-validation-for="DataType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferanceTable" class="control-label"> Referance Table </label>
                <select asp-for="ReferanceTable" asp-items="Html.GetEnumSelectList<IMTestProject.Common.Enum.ReferanceTableEnum>()">
                    <option selected="selected" value="">Please select</option>
</select>
                <span asp-validation-for="ReferanceTable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextField" class="control-label">Text Field</label>
                <input asp-for="TextField" class="form-control" />
                <span asp-validation-for="TextField" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueField" class="control-label">Value Field</label>
                <input asp-for="ValueField" class="form-control" />
                <span asp-validation-for="ValueField" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

